.floating-label {
  @apply absolute top-1/2 -translate-y-1/2 transition-all;
  color: rgb(var(--hint2-color));
}

input:focus + .floating-label,
input:not(:placeholder-shown) + .floating-label,
textarea:focus > .floating-label,
textarea:not(:placeholder-shown) + .floating-label {
  @apply top-1 translate-y-0 text-sm;
}

.textarea-container {
  display: grid;
}

.textarea-container::after {
  content: attr(data-replicated-value) " ";
  white-space: pre-wrap;
  visibility: hidden;
}

.textarea-container > textarea {
  resize: none;
  overflow: hidden;
}

.textarea-container > textarea,
.textarea-container::after {
  /* border: 1px solid black;
  padding: 0.5rem;
  font: inherit; */
  grid-area: 1 / 1 / 2 / 2;
}
